#nprogress .bar {
  background: #e91e63 !important;
}

#nprogress .peg {
  box-shadow: 0 0 10px #e91e63, 0 0 5px #e91e63 !important;
}

#nprogress .spinner-icon {
  border-top-color: #e91e63 !important;
  border-left-color: #e91e63 !important;
}

.app-header {
  position: fixed;
  top: 0;
  left: 0;
  height: 70px;
  /* background-color: antiquewhite; */
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
}

.full-width {
  width: 1200px;
}

.logo-container {
  background-color: #fff;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo img {
  width: 50px;
  height: 50px;
  margin: 15px;
}

.menu-items {
  position: relative;
}

.menu-items a {
  text-decoration: none;
  padding: 5px;
  margin: 5px 15px;
}

.welcomeScreen {
  margin-top: 70px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.companyName {
  min-height: 500px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.companyName .name {
  color: #e91e63;
  font-weight: bold;
  font-size: 50px;
}

.companyName hr {
  width: 100%;
  border-top: 1px dotted red;
}

.enter-app {
  margin-top: 50px;
}

.btn {
  padding: 12px;
  background-color: #e91e63;
  color: #fff;
  border: 1px solid #e91e63;
  border-radius: 4px;
  cursor: pointer;
}

.btn-full {
  width: 100%;
}

.main-container {
  margin-top: 70px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #fefefe;
}

.section-title .title,
.add-button-container {
  display: flex;
  align-items: center;
}

.section-title {
  display: flex;
  justify-content: space-between;
  margin: 10px 0px;
  padding: 5px;
  font-weight: bold;
}

.filter-container {
  margin-left: 10px;
}

.filter-container .input {
  width: 40%;
  margin-right: 10px;
}

.devices-container {
  display: flex;
  flex-wrap: wrap;
}

.device-item {
  width: 30%;
  /* border: 1px solid #e91e63; */
  padding: 12px;
  margin: 20px;
  cursor: pointer;
  border-radius: 4px;
  box-shadow: 1px 1px 2px 2px rgba(234, 231, 233, 1);
  background: #fff;
}

.device-item p {
  margin: 3px 0px;
  text-align: center;
  font-size: 13px;
  color: gray;
}

.device-item .brand-name {
  font-weight: bold;
  color: #e91e63;
  font-size: 20px;
  margin-bottom: 10px;
}

.overview-container {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.overview-item {
  width: 43%;
  padding: 12px;
  margin: 20px;
  cursor: pointer;
  border-radius: 4px;
  box-shadow: 1px 1px 2px 2px rgba(234, 231, 233, 1);
  background: #fff;
}

.overview-item p {
  margin: 5px 0px;
  text-align: center;
  font-size: 13px;
  color: gray;
}

.overview-item .target {
  font-weight: bold;
  color: #e91e63;
  font-size: 20px;
  margin-bottom: 10px;
}

.notification-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 80%;
}

.progress-indicator {
  max-height: 3px;
  background-color: #e91e63;
}

.authError {
  margin-top: 20px;
  color: #e91e63;
}

.profile {
  cursor: pointer;
}

.app-menu {
  position: absolute;
  top: 40px;
  width: 250px;
  border-radius: 3px;
  border: 1px solid lightblue;
  background-color: azure;
  z-index: 9999;
}

.fa-user-tie {
  font-size: 30px;
}

.app-menu {
  display: none;
  opacity: 0;
  transform: translateY(-3rem);
  transition: opacity 100ms, transform 100ms;
  right: 10px;
}
.menu-list {
  list-style-type: none;
}

.menu-open {
  display: block !important;
  opacity: 1 !important;
  transform: translateY(0) !important;
}

.menu-list-item {
  padding: 8px;
  border-bottom: 1px solid #eef1f6;
  cursor: pointer;
}

.menu-list-item:hover {
  background-color: lightgray;
}

.account-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 80px;
}

.account-item .username {
  color: #3f3f44;
  font-size: 14px;
}

.account-item .email {
  color: lightgray;
  font-size: 13px;
}

.message-notice {
  position: fixed;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(255, 255, 255, 0.1);
  width: 100%;
  height: 80px;
}

.message-notice .message {
  padding: 10px;
  opacity: 0;
  transform: translateY(-1rem);
  transition: opacity 800ms, transform 700ms;
  background: #e91e63;
  color: #fff;
  border-radius: 4px;
  min-width: 50px;
}

.message-open .message {
  opacity: 1 !important;
  transform: translateY(0) !important;
}

.message i {
  margin-right: 6px;
}

/* @media screen and (min-width: 1201) {
  .full-width {
    width: 1200;
  }
} */

@media screen and (max-width: 500px) {
  .full-width {
    width: 100%;
  }
  .section-title {
    flex-direction: column;
  }

  .section-title .title,
  .add-button-container {
    flex-direction: column;
  }

  .filter-container .input {
    width: 100%;
  }

  .device-item,
  .overview-item {
    width: 100%;
  }

  .overview-item {
    margin-left: 0px;
    margin-right: 0px;
  }

  .modal {
    padding: 15px !important;
    left: 5% !important;
    width: 90% !important;
  }
}
