#nprogress .bar {
  background: #e91e63 !important;
}

#nprogress .peg {
  box-shadow: 0 0 10px #e91e63, 0 0 5px #e91e63 !important;
}

#nprogress .spinner-icon {
  border-top-color: #e91e63 !important;
  border-left-color: #e91e63 !important;
}

.app-header {
  position: fixed;
  top: 0;
  left: 0;
  height: 70px;
  background-color: antiquewhite;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.full-width {
  width: 1200px;
}

.logo-container {
  background-color: #fff;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo img {
  width: 50px;
  height: 50px;
  margin: 15px;
}

.menu-items a {
  text-decoration: none;
  padding: 5px;
  margin: 5px 15px;
}

.welcomeScreen {
  margin-top: 70px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.companyName {
  min-height: 500px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.companyName .name {
  color: #e91e63;
  font-weight: bold;
  font-size: 50px;
}

.companyName hr {
  width: 100%;
  border-top: 1px dotted red;
}

.enter-app {
  margin-top: 50px;
}

.btn {
  padding: 12px;
  background-color: #e91e63;
  color: #fff;
  border: 1px solid #e91e63;
  border-radius: 4px;
  cursor: pointer;
}

.btn-full {
  width: 100%;
}

.main-container {
  margin-top: 70px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.section-title {
  margin: 10px 0px;
  padding: 5px;
  font-weight: bold;
}

.devices-container {
  display: flex;
  flex-wrap: wrap;
}

.device-item {
  width: 30%;
  border: 1px solid red;
  padding: 10px;
  margin: 10px;
}
