.app-header {
  position: fixed;

  top: 0;
  left: 0;
  height: 70px;
  background-color: antiquewhite;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.full-width {
  width: 1200px;
}

.logo-container {
  background-color: #fff;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo img {
  width: 50px;
  height: 50px;
  margin: 15px;
}

.menu-items a {
  text-decoration: none;
  padding: 5px;
  margin: 5px 15px;
}
